*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    display: flex;
    background-color: #333;
    margin-top: 150px;
    padding: 120px 15%;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.5px;
    justify-content: space-around;
}
.col-1 .col-2 .col-3{
    flex-grow: 2;
}
.col-2 h3{
    text-align: center;
}
.footer h3{
    font-weight: 400;
    margin-bottom:30px ;
}
.footer .col-1 a{
    color: #fff;
    text-decoration: none;
    display: flex;
    line-height: 25px;
  justify-content: center;

}